body {
    font-family: Arial, Helvetica, sans-serif;
}

#todo-list h1 {
    background-color: lightblue; 
    max-width: 160px; 
    width: 100%;
}

#todo-items h1 {
    background-color: lightseagreen; width: 185px;
    max-width: 185px; 
    width: 100%;

}
.done-btn { 
    background-color: yellow; float:inline-end;
}

li {
    
    margin-right: 10px;
}